*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #140021;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.contact-container{
    width: 100%;
    max-width: 450px;
    background: #1f0033;
    padding: 30px;
    border-radius: 15px;
    color: white;
}

.contact-container h1{
    text-align: center;
    margin-bottom: 10px;
    color: #d291ff;
}

.text{
    text-align: center;
    margin-bottom: 25px;
    color: #d7c2e8;
}

form{
    display: flex;
    flex-direction: column;
}

form input,
form textarea{
    margin-bottom: 15px;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #2b0a42;
    color: white;
}

form textarea{
    height: 120px;
    resize: none;
}

form input::placeholder,
form textarea::placeholder{
    color: #c9aee0;
}

form button{
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #b15cff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

form button:hover{
    background: #993dff;
}

.contact-info{
    margin-top: 25px;
    text-align: center;
}

.contact-info p{
    margin-bottom: 8px;
    color: #d7c2e8;
}